# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data & Models (Large files or private data)
data/
models/
outputs/
*.csv
*.pkl

# Environments
.venv/
env/
venv/
ENV/

# IDEs
.vscode/
.idea/
